[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=mac2wepkey
Exec=/usr/bin/invoker --type=d -s /opt/mac2wepkey/bin/mac2wepkey
Icon=/usr/share/icons/hicolor/80x80/apps/mac2wepkey80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
